<html>
	<head>
		<style>
			body {
				margin: 10px;
			}

			#github, #first_name, #last_name, #submit {
				margin: 5px;
			}
		</style>
	</head>
<body>
	<h2>Add New Student:</h2>
	<form action="/add_student">
		<div id="github">
			<label for="github">Github ID </label>
			<input type="text" name="github" id="github"/>
		</div>
		<div id="first_name">
			<label for="first_name">First Name </label>
			<input type="text" name="first_name" id="first_name">
		</div>
		<div id="last_name">
			<label for="last_name">Last Name </label>
			<input type="text" name="last_name" id="last_name">
		</div>
		<div id="submit">
			<input type="submit">
			<input type="button" id="back" value="Back">
		</div>
	</form>

	{% block body %}{% endblock %}

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>
		$("#back").click(function(){
			window.location.replace("/");
		});
	</script>
</body>
</html>